
.boardLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--color-surface-dark);
    margin-bottom: 25px;
}

.boardLogo>img {
    display: flex;
    width: 55%;
    height: auto;
}
